.navbar {
  background-color: #1A78AE;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 50px;

  &__wrapper {
    margin: 8px 47px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-self: center;
    box-sizing: border-box;

    &_active {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 2px solid #FFF;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__icon {
    height: 21px;
    display: block;
    margin: auto;
  }

  &__link-description {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;

    &_inactive {
      display: none;
    }
  }
}