@import url('../src/vendor/normalize.css');
@import url('./vendor/fonts/fonts.scss');

body {
  max-width: 370px;
  height: 100vh;
  font-family: 'Inter', 'sans-serif';
  background-image: url('../src/images/background-app.png');
  // background-repeat: no-repeat;
  background-size: cover;
}
